.action {
  font-family: $primaryFontFamily;
  background-color: $importantSectionColor;

  &__title {
    font-size: 48px;
    font-weight: 400;
    line-height: 1.2;
    color: $secondaryTextColor;
    box-sizing: border-box;
    max-width: 688px;
    border-top: 1px solid $secondaryTextColor;
    padding-top: 15px;
    margin: 0 0 200px;

    @media (min-width: #{$tabletBreakpoint}) {
      font-size: 100px;
      line-height: 1.06;
      max-width: 580px;
      border-top: none;
      padding-top: 0;
      margin-bottom: 190px;
    }

    @media (min-width: #{$desktopBreakpoint}) {
      font-size: 120px;
      line-height: 1;
      padding-left: 179px;
      max-width: 700px;
      margin-bottom: 120px;
      position: relative;
    }

    &::before {
      @media (min-width: #{$desktopBreakpoint}) {
        content: '';
        position: absolute;
        background-image: url(../images/link-right.svg);
        top: 10px;
        left: 0;
        width: 129px;
        height: 95px;
      }
    }
  }

  &__form {
    @media (min-width: #{$desktopBreakpoint}) {
      margin-left: 184px;
    }
  }
}
