.button {
  display: inline-block;
  min-width: 169px;
  min-height: 40px;
  border: 2px solid #000000;
  background-color: #FFFFFF;
  border-radius: 9999px;
  font-family: 'Roboto', Arial, sans-serif;
  text-align: center;
  color: #000000;
  font-size: 14px;
  line-height: 28px;
  font-weight: 400;
  text-decoration: none;
  box-sizing: border-box;
  padding: 4px 0;
  transition: all 300ms ease-in-out;

  @media (min-width: #{$tabletBreakpoint}) {
    min-width: 228px;
    font-size: 18px;
    line-height: 1.56;
    padding-top: 11px;
    padding-bottom: 11px;
  }

  &:hover {
    cursor: pointer;
    font-weight: 500;
  }

  &_place_right {
    padding: 13px 20px;
    font-size: 11px;
    line-height: 24px;
    letter-spacing: 0.375px;
    box-sizing: border-box;
    min-height: 50px;
    border-radius: 0px 8px 8px 0px;
    width: 38%;
    max-width: 130px;
    min-width: 105px;
  }
}
