.footer {
  background-color: $importantSectionColor;
  color: #FFFFFF;

  &__copyright {
    margin: 0;
    font-size: 12px;
    font-weight: 700;
    line-height: 2;

    @media (min-width: #{$tabletBreakpoint}) {
      font-size: 15px;
      line-height: 1.6;
    }
  }
}


