.freelance {
  display: grid;
  grid-gap: 60px;

  @media (min-width: #{$desktopBreakpoint}) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-row-gap: 106px;
    grid-column-gap: 56px;
  }

  &__heading {
    border-top: 1px solid #000000;
    padding-top: 20px;

    @media (min-width: #{$tabletBreakpoint}) {
      border-top: none;
      padding-top: 0;
    }

    @media (min-width: #{$desktopBreakpoint}) {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }
  }

  &__section-name {
    margin: 0 0 30px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
    text-transform: uppercase;

    @media (min-width: #{$tabletBreakpoint}) {
      font-size: 18px;
      line-height: 1.56;
      margin-bottom: 40px;
    }

    @media (min-width: #{$desktopBreakpoint}) {
      margin-bottom: 50px;
    }
  }

  &__title {
    margin: 0;
    font-size: 32px;
    font-weight: 400;
    line-height: 1.19;

    @media (min-width: #{$tabletBreakpoint}) {
      font-size: 64px;
      line-height: 1;
      max-width: 549px;
    }

    @media (min-width: #{$desktopBreakpoint}) {
      min-width: 549px;
    }
  }

  &__image {
    max-width: 100%;

    @media (min-width: #{$desktopBreakpoint}) {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    @media (min-width: #{$desktopBreakpoint}) {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
      align-self: center;
      justify-self: end;
    }
  }

  &__text {
    font-size: 14px;
    line-height: 1.29;
    font-weight: 400;
    margin: 0 0 30px;

    @media (min-width: #{$tabletBreakpoint}) {
      font-size: 18px;
      line-height: 1.56;
      max-width: 380px;
      margin-bottom: 60px;
    }

    @media (min-width: #{$desktopBreakpoint}) {
      margin-bottom: 148px;
    }
  }
}


