@keyframes show-close-icon {
  from {
    background-image: url('../images/menu-open.svg');
  }
  to {
    background-image: url('../images/menu-close.svg');
  }
}

@keyframes show-open-icon {
  from {
    background-image: url('../images/menu-close.svg');
  }
  to {
    background-image: url('../images/menu-open.svg');
  }
}

.header {
  font-family: $primaryFontFamily;
  background-color: $importantSectionColor;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  &__menu-button {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: transparent;
    border: none;

    @media (min-width: #{$desktopBreakpoint}) {
      display: none;
    }

    &_action_open {
      background-image: url('../images/menu-open.svg');
      width: 32px;
      height: 23px;
      animation: show-open-icon 0.5s linear 1 forwards;
    }

    &_action_close {
      background-image: url('../images/menu-close.svg');
      width: 27px;
      height: 27px;
      animation: show-close-icon 0.5s linear 1 forwards;
    }
  }

  &__menu {
    position: absolute;
    width: 100%;
    background-color: $importantSectionColor;
    padding: 6px 0 26px;
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 0;
    top: 70px;
    left: 0;
    transform: translate(100%);
    transition: transform 0.4s ease-in-out;

    @media (min-width: #{$tabletBreakpoint}) {
      transform: translate(120%);
      flex-direction: row;
      align-items: center;
      top: 0;
      width: calc(100% - 70px);
      height: 84px;
      padding: 0;
    }

    @media (min-width: #{$desktopBreakpoint}) {
      position: static;
      padding: 0;
      transform: unset;
      width: 100%;
    }

    &_opened {
      transform: translate(0);
    }
  }

  &__menu-item {
    margin-bottom: 12px;
    text-align: center;

    &:last-of-type {
      margin-bottom: 0;
    }

    @media (min-width: #{$tabletBreakpoint}) {
      margin-bottom: 0;
      box-sizing: border-box;
      padding-left: 40px;
    }

    @media (min-width: #{$desktopBreakpoint}) {
      margin-right: 40px;
      padding-left: 0;

      &:last-of-type {
        margin-right: 0;
      }
    }
  }

  &__link {
    font-family: $secondaryFontFamily;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.5;
    text-decoration: none;
    color: #FBFBFB;
    transition: text-shadow .3s ease-in-out;

    &:hover {
      text-shadow: 0.6px 0 0 currentColor;
      cursor: pointer;
    }
  }
}
