.header {
  background-color: $importantSectionColor;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  &__menu-button {
    background-image: url('../images/menu-open.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: transparent;
    border: none;
    width: 32px;
    height: 23px;

    @media (min-width: #{$desktopBreakpoint}) {
      display: none;
    }

    &_close-icon {
      background-image: url('../images/menu-close.png');
      width: 27px;
      height: 27px;
    }
  }

  &__menu {
    display: none;
    position: absolute;
    width: 100%;
    background-color: $importantSectionColor;
    list-style: none;
    padding: 6px 0 26px;
    margin: 0;
    top: 70px;
    left: 0;

    &_opened {
      display: block;

      @media (min-width: #{$tabletBreakpoint}) {
        display: flex;
        align-items: center;
        top: 0;
        width: calc(100% - 70px);
        height: 84px;
        padding: 0;
      }
    }

    @media (min-width: #{$desktopBreakpoint}) {
      position: static;
      display: flex;
      padding: 0;
    }
  }

  &__menu-item {
    margin-bottom: 12px;
    text-align: center;

    &:last-of-type {
      margin-bottom: 0;
    }

    @media (min-width: #{$tabletBreakpoint}) {
      margin-bottom: 0;
      box-sizing: border-box;
      padding-left: 40px;
    }

    @media (min-width: #{$desktopBreakpoint}) {
      margin-right: 40px;
      padding-left: 0;

      &:last-of-type {
        margin-right: 0;
      }
    }
  }

  &__link {
    font-family: $secondaryFontFamily;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-decoration: none;
    color: #FBFBFB;
    transition: all 300ms ease-in-out;

    &:hover {
      font-weight: 700;
      cursor: pointer;
    }
  }
}
