.order-form {
  width: 100%;
  display: flex;

  &__email {
    width: 62%;
    height: 50px;
    border: 2px solid #000000;
    border-right: none;
    box-sizing: border-box;
    padding: 13px 20px;
    border-radius: 8px 0px 0px 8px;
    cursor: pointer;
    font-size: 11px;
    font-weight: 2.2;
    letter-spacing: 0.375px;
    font-family: 'Roboto', Arial, sans-serif;

    &::placeholder {
      color: #000000;
      opacity: 1;
    }
  }
}
