.page {
  min-width: #{$mobileScreenSize};
  background-color: #FFFFFF;
  font-family: 'Roboto', Arial, sans-serif;

  &__section {
    box-sizing: border-box;
    padding: 20px;
    margin: 0 auto;
    max-width: 1440px;

    @media (min-width: #{$tabletScreenSize}) {
      padding: 40px;
    }
    @media (min-width: #{$desctopScreenSize}) {
      padding: 50px;
    }

    &_vertical-xl {
      padding-top: 40px;
    }

    &_vertical-xs {
      @media (min-width: #{$tabletScreenSize}) {
        padding-top: 24px;
        padding-bottom: 24px;
      }
      @media (min-width: #{$desctopScreenSize}) {
        padding-top: 22px;
        padding-bottom: 22px;
      }
    }
  }
}
