.page {
  min-width: #{$mobileBreakpoint};
  background-color: #FFFFFF;
  font-family: $primaryFontFamily;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;

  &__section {
    box-sizing: border-box;
    padding: 20px;
    margin: 0 auto;
    max-width: 1440px;

    @media (min-width: #{$tabletBreakpoint}) {
      padding: 40px;
    }
    @media (min-width: #{$desktopBreakpoint}) {
      padding: 50px;
    }

    &_vertical-xl {
      padding-top: 40px;
    }

    &_vertical-xs {
      @media (min-width: #{$tabletBreakpoint}) {
        padding-top: 24px;
        padding-bottom: 24px;
      }
      @media (min-width: #{$desktopBreakpoint}) {
        padding-top: 22px;
        padding-bottom: 22px;
      }
    }
  }
}
