$black: #000000;
$white: #FFFFFF;
$red: #DF2626;
$yellow: #FFCE00;

$primarySectionColor: $white;
$secondarySectionColor: $black;
$importantSectionColor: $red;
$highlightingSectionColor: $yellow;

$primaryTextColor: $black;
$secondaryTextColor: $white;

$primaryFontFamily: 'Roboto', Arial, sans-serif;
$secondaryFontFamily: 'Inter', Arial, sans-serif;

$mobileBreakpoint: 320px;
$tabletBreakpoint: 768px;
$desktopBreakpoint: 1024px;
$laptopBreakpoint: 1440px;
