$black: #1b1b1b;
$white: #fff;

$primaryColor: $black;
$secondaryColor: $white;

$fontFamily: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

$mobileScreenSize: 320px;
$tabletScreenSize: 768px;
$desctopScreenSize: 1024px;
